.uploadBox {
    background-color: #E3E6EB;
    border: 2px dashed #BABFC5;
    border-radius: 8px;
    height: 130px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.addFile {
    background-color: #F5F5F7;
    border-radius: 8px;
    width: 142px;
    height: 118px;
    margin: 6px !important;
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.displayFile {
    border-radius: 8px;
    width: auto;
    max-width: 142px;
    height: auto;
    max-height: 118px;
    margin: 6px !important;
    position: relative;
    display: flex;
}

.displayImage {
    border-radius: 8px;
    width: 100%;
    height: auto;
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
}

.topRight {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 10%;
    left: 100%;
    transform: translate(-115%, -20%);
    -ms-transform: translate(-115%, -20%);
}

.displayFile:hover .displayImage {
    opacity: 0.3;
}

.displayFile:hover .topRight {
    opacity: 1;
}